.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #041872;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.6em;
    color: #041872;
    margin-left: -8px;
    margin-bottom: -30px;
}

.navigation .btnLogin-popup:hover {
    background: #eff4ff;
    color: #041872;
}

.navigation .photos {
    background: transparent;
    border: 2px solid #041872;
    cursor: pointer;
    font-size: 1.3em;
    color: #041872;
    border-radius: 4px;
    height: 60px;
     width: 500px;
}

.navigation .photos:hover {
    background: #c4d6ff;
    color: #041872;
}

.navigation .ighere-logo {
    margin-left: 493px;
    border-radius: 9px;
}