.header {
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgb(33, 165, 0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(33, 165, 0);
}

.navigation .logo {
  position: absolute;
  border-radius: 10px;
  cursor: pointer;
  width: 70px;
  margin-top: 8px;
  margin-left: -357px;
  margin-right: 1000px;
}

.navigation a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-top: 11px;
    margin-left: 300px;
    margin-right: -1000px;
}

.navigation .btnLogin-popup:hover {
    background: #f3f3f3;
    color: #111535;
}

.right-section {
  display: flex;
  align-items: center;
}

.current-user-picture {
  height: 70px;
  width: 45px;
  border-radius: 50px;
  margin-right: 20px;
}

.navigation .ighere-logo {
  border-radius: 20px;
  margin-left: 363px;
  margin-right: 50px;
}

.navigation .photos {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation .photos2 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}