.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #041872;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.6em;
    color: #041872;
    margin-left: -8px;
    margin-bottom: -30px;
}

.navigation .btnLogin-popup:hover {
    background: #c4d6ff;
    color: #041872;
}

.navigation .ighere-logo {
    margin-left: 493px;
    border-radius: 9px;
}

.navigation .photolink {
    margin-bottom: 0;
    border-radius: 18px;
}

.navigation .photolink {
    margin-left: 70px;
    border-radius: 18px;
    border-style: solid;
    border-color: #a0beff;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 7px;
    border-right-width: 7px;
}