.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: rgb(33, 165, 0);
  width: 70px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 70px;
  width: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: #bdf5ff;
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 3px;
}

.sidebar-link div {
  font-size: 10px;
}