

* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    width: 100;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup:hover {
    background: #ffffff;
    color: #1c242b;
}

.wrapper {
    position: relative;
    width: 360px;
    height: 460px;
    margin: 100px 0 8px;
    background: transparent;
    border: 1px solid rgba(7, 7, 7, 0.938);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(123, 151, 202, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 58px;
    border-bottom: 2px solid lch(14.57% 14.17 257.48);
    margin: 10px 0;
}

.input-box label {
    position: absolute;
    top: 45%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 2px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c8d7ff;
    padding: 0 40px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #e4eafc;
    font-weight: 500;
    margin: 20px 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #0c1924;
    margin-right: 3px;
    margin-top: -18px;
    border-radius: 6px;
    cursor: pointer;
}

.remember-forgot a {
    color: #45edf3;
    text-decoration: none;
    font-weight: 600;
    margin-right: -0px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    margin-top: 1px;
    margin-bottom: 10px;
    background: #a4a6a8;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #12172e;
    font-weight: 700;
}

.login-register {
    font-size: .9em;
    color: #e4eafc;
    text-align: center;
    font-weight: 500;
    margin: 12px 0 8px;
}

.login-register p a {
    color: #45edf3;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.navigation .photos {
    border-radius: 10px;
}
