.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #5eff00;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.6em;
    color: #5eff00;
    margin-left: -8px;
    margin-bottom: -30px;
}

.navigation .btnLogin-popup:hover {
    background: #eff4ff;
    color: #000000;
    border-color: #eff4ff;
}

.navigation .ighere-logo {
    margin-left: 493px;
    border-radius: 9px;
}